@{
    ViewData["Title"] = "Home Page";
}

<div>
    <form asp-action="Add">
        <label>Name</label>
        <input type="text" name="Name" />
        <input type="submit" class="btn btn-info" />
    </form>
</div>